<template>
  <div>
    {{ state }}.....
  </div>
</template>

<script>
  import * as constants from '../constants'
  import {HTTP} from '../common/http'

  export default {
    data: () => ({
      state: 'loading',
      code: null,
    }),

    created() {
      if (this.$route.query.code) {
        this.code = this.$route.query.code
        this.getToken()
      }
    },

    methods: {
      getToken() {
        HTTP.post('/oauth/token', {
          code: this.$data.code
        })
          .then(response => {
            if (response.data.code == 200) {
              window.localStorage.setItem('Authorization', response.data.authorization)
              this.$router.push({name: 'home'});
            }
          })
          .catch(e => {
          })
      }
    }
  }
</script>