<template>
  <div>
    <md-app>
      <md-app-toolbar class="md-primary" md-elevation="0">
        <span class="md-title">Test Project</span>
      </md-app-toolbar>

      <md-app-content class="contents">
        <ProgressSpinnerIndeterminate v-if="properties.length == 0"></ProgressSpinnerIndeterminate>
        <div v-if="properties.length > 0">
          <Property v-for="property in properties" :property="property"/>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
  @import "~vue-material/dist/theme/engine";

  @include md-register-theme("default", (
  primary: #000000, accent: #000000,
  ));

  @import "~vue-material/dist/theme/all";

  .md-app {
    min-height: 700px;
    font-family: 'Roboto', sans-serif
  }

  .md-title {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  .contents {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }

  .md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }

  .md-card-example {

  .md-subhead {

  .md-icon {
    $size: 16px;

    width: $size;
    min-width: $size;
    height: $size;
    font-size: $size !important;
  }

  span {
    vertical-align: middle;
  }

  }

  .card-reservation {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  .md-icon {
    margin: 8px;
  }

  }

  .md-button-group {
    display: flex;

  .md-button {
    min-width: 60px;
    border-radius: 2px;
  }

  }
  }
</style>

<script>
  import ProgressSpinnerIndeterminate from '@/components/ProgressSpinnerIndeterminate'
  import Property from '@/components/Property'
  import {HTTP} from "../common/http";

  export default {
    data() {
      return {
        properties: [],
        testAb: "sdfsdff"
      }
    },
    components: {
      Property,
      ProgressSpinnerIndeterminate
    },
    mounted() {
      this.getProperties()
    },
    methods: {
      getProperties() {
        HTTP.get('/properties')
          .then(response => {
            if (response.data.code == 200) {
              this.properties = response.data.data
            }
          })
          .catch(e => {
          })
      }
    }
  }
</script>