<template>
  <div class="home">
    <a :href="loginLink">
      <md-button class="md-raised md-primary">Login</md-button>
    </a>
  </div>
</template>

<script>
  // @ is an alias to /src
  import * as constants from '../constants'

  export default {
    name: 'home',
    data: () => ({
      loginLink: constants.apiConfig.url + "?client_id=" + constants.apiConfig.client_id + "&response_type=code&redirect_uri=" + constants.apiConfig.redirect_uri + "&state=" + constants.apiConfig.state
    }),
  }
</script>
