<template>
  <div>
    <md-progress-spinner :md-diameter="100" :md-stroke="10" class="md-accent" md-mode="indeterminate"></md-progress-spinner>
  </div>
</template>

<script>
  export default {
    name: 'ProgressSpinnerIndeterminate',
    mounted() {
      console.log("sfdsf")
    }
  }
</script>

<style lang="scss" scoped>
  .md-progress-spinner {
    margin: 150px;
  }
</style>