<template>
  <md-card class="md-card-example" v-if="property">
      <md-card-media md-ratio="16:9">
        <img :src="property.image" alt="Property Image">
      </md-card-media>

      <md-card-header>
        <h2 class="md-title" :title="property.attributes.name">{{ property.attributes.name | truncate(20) }}</h2>
        <div class="md-subhead">
          <md-icon>location_on</md-icon>
          <span v-if="property.attributes.address.postal" :title="property.attributes.address.postal">
            {{ property.attributes.address.postal | truncate(30) }}
          </span>
          <span v-if="! property.attributes.address.postal">{{ property.attributes.address.country.name }}</span>
        </div>
      </md-card-header>

    <md-card-expand>
      <md-card-actions>
        <md-card-expand-trigger>
          <md-button class="md-icon-button">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
        </md-card-expand-trigger>
      </md-card-actions>

      <md-card-expand-content>
        <md-card-content>
            <h3 class="md-subheading">Check In - Check Out</h3>
            <div class="card-reservation">
              <md-icon>access_time</md-icon>
              <div class="md-button-group">
                <md-button>{{ property.attributes.times.checkin }}</md-button>
                <md-button>To</md-button>
                <md-button>{{ property.attributes.times.checkout }}</md-button>
              </div>
            </div>

          <md-list class="md-double-line" v-if="property.attributes.phone.main || property.attributes.contact.email">
            <md-subheader v-if="property.attributes.phone.main">Phone</md-subheader>

            <md-list-item v-if="property.attributes.phone.main">
              <md-icon class="md-primary">phone</md-icon>

              <div class="md-list-item-text">
                <span>{{ property.attributes.phone.main }}</span>
                <span>Mobile</span>
              </div>

              <md-button class="md-icon-button md-list-action">
                <md-icon>sms</md-icon>
              </md-button>
            </md-list-item>

            <md-list-item v-if="property.attributes.phone.tollfree">
              <md-icon class="md-primary">phone</md-icon>
              <div class="md-list-item-text">
                <span>{{ property.attributes.phone.tollfree }}</span>
                <span>Toll Free</span>
              </div>

              <md-button class="md-icon-button md-list-action">
                <md-icon>sms</md-icon>
              </md-button>
            </md-list-item>

            <md-divider></md-divider>

            <md-subheader v-if="property.attributes.contact.email">Email</md-subheader>

            <md-list-item v-if="property.attributes.contact.email">
              <md-icon class="md-primary">email</md-icon>

              <div class="md-list-item-text">
                <span>{{ property.attributes.contact.email }}</span>
                <span>{{ property.attributes.contact.name }}</span>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card-expand-content>
    </md-card-expand>
  </md-card>
</template>

<script>
  export default {
    props: [
      'property'
    ],
    data() {
      return {
      }
    },

    mounted() {
//      console.log(this.property)
    }
  }
</script>

<style lang="scss" scoped>
  .md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }

  .md-card-header {
     padding: 0px;
  }

  .md-card-example {
    .md-subhead {
      .md-icon {
        $size: 16px;
        width: $size;
        min-width: $size;
        height: $size;
        font-size: $size !important;
      }

      span {
        vertical-align: middle;
      }
    }

    .card-reservation {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .md-icon {
        margin: 8px;
      }
    }

    .md-button-group {
      display: flex;

      .md-button {
        min-width: 60px;
        border-radius: 2px;
      }
    }
  }
</style>